<div class="row">
<div class="col-md-7 jumbotron" id="chatsection">
  <div class="row">
    <div id="chatlist" class="col-md-12">
      <div class="col-md-12 well list-group-item">
        <strong>{{chatCtrl.activeuser}}</strong>
      </div>
      <div class="row" id="chatmessage">

      </div>
    </div>
    <div class="col-md-12" id="messageform">
      <form class="row input-group" ng-submit = "chatCtrl.sendMessage()">
        <input type="text" class="form-control" placeholder="message" aria-describedby="sizing-addon1" ng-model="chatCtrl.message" ng-disabled="chatCtrl.messagebox">
				 <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-send"></span></span>
      </form>
    </div>
  </div>
</div>
<div class="col-md-1">

</div>
<div class="col-md-4 jumbotron" id="listsection">
  <div class="row" id="creategroup">
    <input type="text" placeholder="Group Name" class="well col-md-8" ng-model="chatCtrl.groupname">
    <button type="button" class="btn btn-success col-md-4" ng-click="chatCtrl.createGroup()">Create Group</button>
  </div>
  <div class="row">
    <div class="col-md-6 onlinelist">
      <ul class="row list-group">
        <li class="list-group-item listhead"><b>Online Users</b></li>
      </ul>
      <ul class="row list-group">
        <li class="list-group-item" ng-repeat = "user in userList" ng-click="chatCtrl.chatOnUser(user)">{{user.name}}<span class="badge">{{chatCtrl.countObj[user.socketId]}}</span></li>
      </ul>
    </div>
    <div class="col-md-6 onlinelist">
      <ul class="row list-group">
        <li class="list-group-item listhead"><b>Online Groups</b></li>
      </ul>
      <ul class="row list-group">
        <li class="list-group-item " ng-repeat="group in chatCtrl.groups" ng-click="chatCtrl.joinRoom(group)">{{group.name}}<span class="badge">{{chatCtrl.countObj[group.socketId]}}</span></li>
      </ul>
    </div>
  </div>
</div>
</div>
