<div class="row" id="loginsection">
<div class="col-md-offset-4 col-md-4">
  <div class="jumbotron">
    <img src="../images/iconb.png" class="img-circle" alt="Cinque Terre" width="100" height="100">
    <form ng-submit="homeCtrl.loginUser()">
      <input type="text" class="well" placeholder="name" ng-model="homeCtrl.username">
      <button type="submit" class="btn btn-success">JOIN</button>
    </form>
  </div>
</div>
</div>
