body{
  text-align: center;
  padding: 1% 1%;
  margin: 0%;
  background-color: #00B75A;
}
strong{
  font-size: 20px;
}
#loginsection{
  margin: 0;
  padding: 0;
  margin-top: 17%;
}
.jumbotron{
  border: 1px solid #009047;
  background-color: transparent;
  border-radius: 5px;
  background-color: rgba(0,144,71, 0.3);
}
.jumbotron p{
  font-size: 12px;
}
.well{
  padding: 5px 7px;
}
#creategroup{
  padding: 2%;
}
#creategroup input{
  padding: 5px 7px;
}
.alert{
  padding: 8px;
  opacity: .9;
}
li{
  cursor: pointer;
}
li:hover{
  background: #d7d7d8;
}
#messageform{
  padding: 0;
}
#chatsection{
  margin: 0;
  padding: 0;
  height: 95vh;
}
#chatlist{
  margin: 0;
  padding: 0;
  height: 90vh;
  /*overflow-y: scroll;*/
  /*overflow: hidden;*/
}
#listsection{
  margin: 0;
  padding: 0;
  height: 95vh;
}
.onlinelist{
  height: 85vh;
  /*overflow-y: scroll;*/
  padding: 0px 10px;
  /*overflow: s;*/
}
.list-group-item{
  padding: 5px 0px;
  margin-top: 2px;
  background: #09904B;
  border-color: #09904B;
}
.listhead{
  background: #066434;
}
.row{
  margin: 0;
  padding: 0;
}
.sentmessage{
  background:#629aa9;
  border-radius: 5px 0px 0px 5px;
}
.recdmessage{
  background: #a4c639;
  border-radius: 0px 5px 5px 0px;
}
.well{
  margin: 0;
}
